<div class="item-intro intro-phone">
    <div class="main-phone">
        <div class="wrapper-main_phone_imgs">
            <div class="main-phone-1">
                <div class="phone-head">
                    <img
                        src="<%= IMG_PATH %>uemo-card/uemo-show-head.png"
                        alt=""
                    />
                </div>
                <div class="phone-card">
                    <div class="video-bg-box">
                        <video
                            preload="none"
                            src="<%= IMG_PATH %>uemo-card/uemo-card-video.mp4"
                            muted
                            loop
                            playsinline
                            poster="<%= IMG_PATH %>uemo-card/uemo-card-video.jpg"
                        ></video>
                    </div>
                    <div class="card-box">
                        <div class="img-wrapper">
                            <img src="/image/uemo-card/uemo-card.png" alt="" />
                        </div>
                    </div>
                </div>
                <img
                    src="<%= IMG_PATH %>uemo-card/uemo-show-phone.png"
                    alt=""
                />
            </div>
            <div class="main-phone-card">
                <div class="box-m_web">
                    <img src="<%= IMG_PATH %>m-web-brower.png" alt="" />
                    <img
                        id="mweb-site-body"
                        src="<%= IMG_PATH %>m-uemo-web.jpg"
                        alt=""
                    />
                </div>
            </div>
        </div>
    </div>

    <div class="main-phone-back-card">
        <div class="btn-shadow"></div>
        <img src="<%= IMG_PATH %>back-card.png" alt="" />
    </div>
</div>
