<!--
 * @Description: 联系板块
 * @Author: F-Stone
 * @Date: 2021-08-04 10:33:18
 * @LastEditTime: 2021-08-04 10:33:19
 * @LastEditors: F-Stone
-->
<div class="module module-contact" data-scroll-section>
    <div class="wrapper-limit_width--min">
        <div class="module-body flex flex-y-c">
            <div class="group-row flex flex-x-sb flex-y-s">
                <div class="group-col flex flex-y-c">
                    <img
                        class="logo-pic"
                        src="<%= IMG_PATH %>logo-picture.png"
                        alt=""
                    />
                    <span class="text">smart<br />business<br />card</span>
                </div>
                <div class="group-col">
                    <h4 class="text">售前电话</h4>
                    <p class="text tel">010-69557550</p>
                    <p class="text tip">服务时间：周一到周五9:30-10:30</p>
                    <i class="ic iconfont icon-weixin flex flex-c-c"></i>
                </div>
                <div class="group-col">
                    <h3 class="text name">北京优艺客文化传播有限公司</h3>
                    <p class="text location">
                        地址：北京市朝阳区建外SOHO东区2号楼
                    </p>
                    <p class="text email">邮箱：touch@uelike.com</p>
                </div>
            </div>
        </div>
        <div class="module-footer flex flex-y-c">
            <span class="text"
                >COPYRIGHT (©) 2021 UE­like Com­mu­ni­ca­tion Co. Ltd.</span
            >
        </div>
        <div class="layer-circle">
            <img
                src="<%= IMG_PATH %>circle-1.png"
                data-speed="5"
                alt=""
                class="circle-1"
            />
            <img
                src="<%= IMG_PATH %>circle-2.png"
                data-speed="4"
                alt=""
                class="circle-2"
            />
            <img
                src="<%= IMG_PATH %>circle-3.png"
                data-speed="3"
                alt=""
                class="circle-3"
            />
            <img
                src="<%= IMG_PATH %>circle-4.png"
                data-speed="0.5"
                alt=""
                class="circle-4"
            />
            <img
                src="<%= IMG_PATH %>circle-1.png"
                data-speed="5"
                alt=""
                class="circle-5"
            />
        </div>
    </div>
</div>
