<!--
 * @Description: 文档板块介绍
 * @Author: F-Stone
 * @Date: Wed Aug 04 2021 17:13:51
 * @LastEditTime: Wed Aug 04 2021 17:13:51
 * @LastEditors: F-Stone
-->
<div class="module module-doc" data-scroll-section>
    <div class="wrapper-limit_width flex">
        <div class="state-pos_left flex flex-x-c">
            <div class="module-doc_show">
                <div class="left_area-bg"></div>
                <div class="intro-img">
                    <img src="<%= IMG_PATH %>doc-intro.png" alt="" />
                    <div class="wrapper-main_phone">
                        <div class="main-phone">
                            <div class="group">
                                <div class="item item-1">
                                    <img
                                        src="<%= IMG_PATH %>doc-show-1.png"
                                        alt=""
                                    />
                                    <div class="layer-cover">
                                        <img
                                            class="doc-show-2"
                                            src="<%= IMG_PATH %>doc-show-2.png"
                                            alt=""
                                        />
                                    </div>
                                </div>
                                <div class="item item-2">
                                    <img
                                        src="<%= IMG_PATH %>doc-show-3.png"
                                        alt=""
                                    />
                                </div>
                            </div>
                        </div>
                        <img
                            class="doc-thumb"
                            src="<%= IMG_PATH %>doc-thumb.png"
                            alt=""
                        />
                        <img
                            class="doc-show-4"
                            src="<%= IMG_PATH %>doc-show-4.png"
                            alt=""
                        />
                    </div>
                </div>
                <div class="intro-img--fake">
                    <img
                        src="<%= IMG_PATH %>main-phone-lock.png"
                        alt=""
                        class="main-phone-lock"
                    />
                </div>
            </div>
        </div>
        <div class="state-pos_right flex flex-x-c">
            <div class="list-intro">
                <div class="scale-placeholder"></div>
                <div class="item-intro">
                    <div class="title">
                        <span class="text">营销文档</span>
                    </div>
                    <div class="desc">
                        <span class="text">
                            快速完整地传递企业/个人形象及品牌宣传，再展示推广企业的同时也可把企业的每个成员打造成超级IP。
                        </span>
                    </div>
                    <div class="box-img">
                        <img src="<%= IMG_PATH %>doc-type.png" alt="" />
                    </div>
                </div>
                <div class="item-intro">
                    <div class="title">
                        <span class="text">安全设置</span>
                    </div>
                    <div class="desc">
                        <span class="text">
                            快速完整地传递企业/个人形象及品牌宣传，再展示推广企业的同时也可把企业的每个成员打造成超级IP。
                        </span>
                    </div>
                    <div class="box-img">
                        <img src="<%= IMG_PATH %>doc-sec.png" alt="" />
                    </div>
                </div>
                <div class="item-intro">
                    <div class="title">
                        <span class="text">功能特色</span>
                    </div>
                    <div class="desc">
                        <span class="text">
                            快速完整地传递企业/个人形象及品牌宣传，再展示推广企业的同时也可把企业的每个成员打造成超级IP。
                        </span>
                    </div>
                    <div class="box-img">
                        <img src="<%= IMG_PATH %>doc-advantage.png" alt="" />
                    </div>
                </div>
                <div class="item-intro">
                    <div class="title">
                        <span class="text">获取数据</span>
                    </div>
                    <div class="desc">
                        <span class="text">
                            快速完整地传递企业/个人形象及品牌宣传，再展示推广企业的同时也可把企业的每个成员打造成超级IP。
                        </span>
                    </div>
                    <div class="box-img">
                        <img src="<%= IMG_PATH %>doc-four.png" alt="" />
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
