<!--
 * @Description: 
 * @Author: F-Stone
 * @Date: 2021-08-03 19:05:50
 * @LastEditTime: 2021-08-03 19:05:51
 * @LastEditors: F-Stone
-->
<div class="module module-propaganda">
    <div class="module-body">
        <div class="wrapper-propaganda_text">
            <div class="box-text_effect">
                <div class="effect-container inner-wrapper">
                    <div class="effect-line-1 title">
                        <span class="text">好看智能名片</span>
                    </div>
                    <div class="effect-line-2 project-serve flex flex-y-c">
                        <div class="item-serve">
                            <span class="text">品牌宣传</span>
                        </div>
                        <div class="divide"></div>
                        <div class="item-serve">
                            <span class="text">营销推广</span>
                        </div>
                        <div class="divide"></div>
                        <div class="item-serve">
                            <span class="text">精准获客</span>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <div class="wrapper-propaganda_intro">
            <div class="inner-wrapper">
                <div class="layer-main_phone">
                    <img class="main-phone" src="<%= IMG_PATH +
                    "fake-main-phone.png" %>" alt="">
                    <div class="wrapper-slider">
                        <div class="inner-slider flex">
                            <div class="slider-item">
                                <img src="<%= IMG_PATH + "main-phone-img-0.png"
                                %>" alt="">
                            </div>
                            <div class="slider-item">
                                <img src="<%= IMG_PATH + "main-phone-img-1.png"
                                %>" alt="">
                            </div>
                        </div>
                    </div>
                </div>
                <div class="layer-hand-back">
                    <img class="hand-back" src="<%= IMG_PATH +"hand-back.png"
                    %>" alt="">
                </div>
                <div class="layer-hand-front">
                    <img class="hand-front" src="<%= IMG_PATH +"hand-front.png"
                    %>" alt="">
                </div>
                <div class="layer-hand-right">
                    <img class="hand-front" src="<%= IMG_PATH +"hand-right.png"
                    %>" alt="">
                </div>
            </div>
        </div>
    </div>
</div>
