<!--
 * @Description: 统计功能介绍
 * @Author: F-Stone
 * @Date: Wed Aug 04 2021 17:54:30
 * @LastEditTime: Wed Aug 04 2021 17:54:31
 * @LastEditors: F-Stone
-->
<div class="module module-statistic" data-scroll-section>
    <div class="wrapper-module_content">
        <div class="module-header">
            <div class="module-title">
                <span class="text">客户轨迹追踪</span>
            </div>
            <div class="module-subtitle">
                <span class="text">
                    已团队（企业）品牌属性为中心，扩散到每个成员，每个成员都带有自媒体属性成员曝光
                    = 团队（企业）曝光
                </span>
            </div>
        </div>
        <div class="module-body">
            <div class="wrapper-limit_width flex flex-x-sb">
                <div class="state-pos_left">
                    <div class="list-info">
                        <div class="item-info">
                            <div class="ic iconfont icon-data"></div>
                            <div class="title">
                                <span class="text">实时访问数据</span>
                            </div>
                            <div class="desc">
                                <span class="text">
                                    快速完整地传递企业/个人形象及品牌宣传，再展示推广企业的同时也可把企
                                </span>
                            </div>
                        </div>
                        <div class="item-info">
                            <div class="ic iconfont icon-gender"></div>
                            <div class="title">
                                <span class="text">性别占比分析</span>
                            </div>
                            <div class="desc">
                                <span class="text"
                                    >快速完整地传递企业/个人形象及品牌宣传=再展示推广企业的同时也可把企</span
                                >
                            </div>
                        </div>
                        <div class="item-info">
                            <div class="ic iconfont icon-earth"></div>
                            <div class="title">
                                <span class="text">地区占比分布</span>
                            </div>
                            <div class="desc">
                                <span class="text"
                                    >快速完整地传递企业/个人形象及品牌宣传=再展示推广企业的同时也可把企
                                </span>
                            </div>
                        </div>
                        <div class="item-info">
                            <div class="ic iconfont icon-link"></div>
                            <div class="title">
                                <span class="text">客户来源分析</span>
                            </div>
                            <div class="desc">
                                <span class="text"
                                    >快速完整地传递企业/个人形象及品牌宣传=再展示推广企业的同时也可把企
                                </span>
                            </div>
                        </div>
                        <div class="item-info">
                            <div class="ic iconfont icon-member"></div>
                            <div class="title">
                                <span class="text">员工贡献值</span>
                            </div>
                            <div class="desc">
                                <span class="text"
                                    >快速完整地传递企业/个人形象及品牌宣传=再展示推广企业的同时也可把企
                                </span>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="state-pos_right">
                    <div class="box-intro_img">
                        <div class="box-bg">
                            <div class="bg-circle"></div>
                            <div class="bg-circle"></div>
                            <div class="bg-circle"></div>
                        </div>
                        <div class="list-intro_img">
                            <div class="item-intro_img">
                                <img
                                    src="<%= IMG_PATH %>uemo-data/5.png"
                                    alt=""
                                />
                            </div>
                            <div class="item-intro_img">
                                <img
                                    src="<%= IMG_PATH %>uemo-data/4.png"
                                    alt=""
                                />
                            </div>
                            <div class="item-intro_img">
                                <img
                                    src="<%= IMG_PATH %>uemo-data/3.png"
                                    alt=""
                                />
                            </div>
                            <div class="item-intro_img">
                                <img
                                    src="<%= IMG_PATH %>uemo-data/2.png"
                                    alt=""
                                />
                            </div>
                            <div class="item-intro_img">
                                <img
                                    src="<%= IMG_PATH %>uemo-data/1.png"
                                    alt=""
                                />
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
