<!--
 * @Description: design 板块
 * @Author: F-Stone
 * @Date: 2021-08-04 13:27:06
 * @LastEditTime: 2021-08-04 13:27:07
 * @LastEditors: F-Stone
-->
<div class="module module-design">
    <div class="module-inner_box">
        <div class="wrapper-limit_width">
            <div class="module-body flex flex-x-c">
                <div class="state-pos_left flex flex-x-e">
                    <div class="layer--preview">
                        <div class="box-preview_layout">
                            <img
                                src="<%= IMG_PATH %>preview-layer.png"
                                alt=""
                            />
                        </div>
                    </div>
                </div>
                <div class="state-pos_right">
                    <div class="list-intro">
                        <div class="item-intro">
                            <div class="title flex">
                                <span class="text">50</span>
                                <span class="text unit">+</span>
                            </div>
                            <div class="subtitle">
                                <span class="text">预设动态名片</span>
                            </div>
                            <div class="desc">
                                <span class="text"
                                    >好看智能名片提供多种名片风格可选择，也可以自定义品牌风格名片</span
                                >
                            </div>
                        </div>
                        <div class="item-intro">
                            <div class="title">
                                <span class="text">Design</span>
                            </div>
                            <div class="subtitle">
                                <span class="text">用户自定义名片</span>
                            </div>
                            <div class="desc">
                                <span class="text">
                                    好看智能名片提供多种名片风格可选择，也可以自定义品牌风格名片
                                </span>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <div class="wrapper-bg">
            <div class="bg-body flex flex-x-c">
                <div class="state-pos_left flex flex-x-e">
                    <div class="layer--preview">
                        <div class="box-preview_layout">
                            <div class="box-card">
                                <div class="list-card--left flex">
                                    <div class="item-card">
                                        <img
                                            src="<%= IMG_PATH %>line-box.png"
                                            alt=""
                                        />
                                    </div>
                                    <div class="item-card">
                                        <img
                                            src="<%= IMG_PATH %>line-box.png"
                                            alt=""
                                        />
                                    </div>
                                    <div class="item-card">
                                        <img
                                            src="<%= IMG_PATH %>line-box.png"
                                            alt=""
                                        />
                                    </div>
                                    <div class="item-card">
                                        <img
                                            src="<%= IMG_PATH %>line-box.png"
                                            alt=""
                                        />
                                    </div>
                                    <div class="item-card">
                                        <img
                                            src="<%= IMG_PATH %>line-box.png"
                                            alt=""
                                        />
                                    </div>
                                    <div class="item-card">
                                        <img
                                            src="<%= IMG_PATH %>line-box.png"
                                            alt=""
                                        />
                                    </div>
                                    <div class="item-card">
                                        <img
                                            src="<%= IMG_PATH %>line-box.png"
                                            alt=""
                                        />
                                    </div>
                                </div>
                                <div class="list-card--right flex">
                                    <div class="item-card">
                                        <img
                                            src="<%= IMG_PATH %>line-box.png"
                                            alt=""
                                        />
                                    </div>
                                    <div class="item-card">
                                        <img
                                            src="<%= IMG_PATH %>line-box.png"
                                            alt=""
                                        />
                                    </div>
                                    <div class="item-card">
                                        <img
                                            src="<%= IMG_PATH %>line-box.png"
                                            alt=""
                                        />
                                    </div>
                                    <div class="item-card">
                                        <img
                                            src="<%= IMG_PATH %>line-box.png"
                                            alt=""
                                        />
                                    </div>
                                    <div class="item-card">
                                        <img
                                            src="<%= IMG_PATH %>line-box.png"
                                            alt=""
                                        />
                                    </div>
                                    <div class="item-card">
                                        <img
                                            src="<%= IMG_PATH %>line-box.png"
                                            alt=""
                                        />
                                    </div>
                                    <div class="item-card">
                                        <img
                                            src="<%= IMG_PATH %>line-box.png"
                                            alt=""
                                        />
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="state-pos_right"></div>
            </div>
        </div>
    </div>
</div>
