<!--
 * @Description: 功能介绍--show
 * @Author: F-Stone
 * @Date: Wed Aug 04 2021 15:34:52
 * @LastEditTime: Wed Aug 04 2021 15:34:52
 * @LastEditors: F-Stone
-->
<div class="module module-show">
    <div class="module-header">
        <div class="module-title">
            <span class="text">全方位展示企业及个人</span>
        </div>
        <div class="module-subtitle">
            <span class="text">
                丰富的呈现方式，即可展示员工个人能力，也可展示统一的品牌信息
            </span>
        </div>
        <div class="module-desc">
            <div class="box-desc flex-inline flex-y-c">
                <div class="state-pos_left flex flex-y-c">
                    <i class="ic iconfont icon-user"></i>
                    <span class="text">员工个人能力</span>
                </div>
                <div class="divide"></div>
                <div class="state-pos_right flex flex-y-c">
                    <i class="ic iconfont icon-brand"></i>
                    <span class="text">企业统一内容</span>
                </div>
            </div>
        </div>
    </div>
    <div class="module-body">
        <div class="group-row flex-inline">
            <div class="group-col flex flex-x-c flex-d-c">
                <div class="item-intro">
                    <img src="<%= IMG_PATH %>module-show-1-1.png" alt="" />
                </div>
                <div class="item-intro">
                    <img src="<%= IMG_PATH %>module-show-1-2.png" alt="" />
                </div>
            </div>
            <div class="group-col flex flex-x-c flex-d-c">
                <div class="item-intro">
                    <img src="<%= IMG_PATH %>module-show-2-1.png" alt="" />
                </div>
                <div class="item-intro">
                    <img src="<%= IMG_PATH %>module-show-2-2.png" alt="" />
                </div>
            </div>
            <div class="group-col flex flex-x-c flex-d-c">
                <div class="item-intro">
                    <img src="<%= IMG_PATH %>module-show-3-1.png" alt="" />
                </div>
            </div>
            <div class="group-col flex flex-x-c flex-d-c">
                <div class="item-intro">
                    <img src="<%= IMG_PATH %>module-show-4-1.png" alt="" />
                </div>
                <div class="item-intro">
                    <img src="<%= IMG_PATH %>module-show-4-2.png" alt="" />
                </div>
            </div>
            <div class="group-col flex flex-x-c flex-d-c">
                <div class="item-intro">
                    <img src="<%= IMG_PATH %>module-show-5-1.png" alt="" />
                </div>
                <div class="item-intro">
                    <img src="<%= IMG_PATH %>module-show-5-2.png" alt="" />
                </div>
            </div>
        </div>
    </div>
</div>
