<!--
 * @Description: 功能介绍--show
 * @Author: F-Stone
 * @Date: Wed Aug 04 2021 15:34:52
 * @LastEditTime: Wed Aug 04 2021 15:34:52
 * @LastEditors: F-Stone
-->
<div class="module module-show" data-scroll-section>
    <div class="module-header">
        <div class="module-title">
            <span class="text">全方位展示企业及个人</span>
        </div>
        <div class="module-subtitle">
            <span class="text">
                丰富的呈现方式，即可展示员工个人能力，也可展示统一的品牌信息
            </span>
        </div>
        <div class="module-desc">
            <div class="box-desc flex-inline flex-y-c">
                <div class="state-pos_left flex flex-y-c">
                    <i class="ic iconfont icon-user"></i>
                    <span class="text">员工个人能力</span>
                </div>
                <div class="divide"></div>
                <div class="state-pos_right flex flex-y-c">
                    <i class="ic iconfont icon-brand"></i>
                    <span class="text">企业统一内容</span>
                </div>
            </div>
        </div>
    </div>
    <div class="module-body">
        <div class="wrapper-first_area">
            <div class="group-row flex-inline">
                <div class="group-col flex flex-x-c flex-d-c">
                    <div class="item-intro">
                        <img src="<%= IMG_PATH %>module-show-1-1.png" alt="" />
                    </div>
                    <div class="item-intro">
                        <img src="<%= IMG_PATH %>module-show-1-2.png" alt="" />
                    </div>
                </div>
                <div class="group-col flex flex-x-c flex-d-c">
                    <div class="item-intro">
                        <img src="<%= IMG_PATH %>module-show-2-1.png" alt="" />
                    </div>
                    <div class="item-intro">
                        <img src="<%= IMG_PATH %>module-show-2-2.png" alt="" />
                    </div>
                </div>
                <div class="group-col flex flex-x-c flex-d-c">
                    <div class="item-intro intro-phone">
                        <div class="main-phone">
                            <div class="wrapper-main_phone_imgs">
                                <img
                                    class="main-phone-1"
                                    src="<%= IMG_PATH %>module-show-3-2.png"
                                    alt=""
                                />
                                <div class="main-phone-card">
                                    <div class="box-m_web">
                                        <img
                                            src="<%= IMG_PATH %>m-web-brower.png"
                                            alt=""
                                        />
                                        <img
                                            id="mweb-site-body"
                                            src="<%= IMG_PATH %>m-uemo-web.jpg"
                                            alt=""
                                        />
                                    </div>
                                </div>
                                <img
                                    class="main-phone-back-card"
                                    src="<%= IMG_PATH %>back-card.png"
                                    alt=""
                                />
                            </div>
                        </div>

                        <div class="main-phone-2">
                            <img
                                class="main-phone-2-img"
                                src="<%= IMG_PATH %>module-show-3-3.png"
                                alt=""
                            />
                        </div>
                    </div>
                </div>
                <div class="group-col flex flex-x-c flex-d-c">
                    <div class="item-intro">
                        <img src="<%= IMG_PATH %>module-show-4-1.png" alt="" />
                    </div>
                    <div class="item-intro">
                        <img src="<%= IMG_PATH %>module-show-4-2.png" alt="" />
                    </div>
                </div>
                <div class="group-col flex flex-x-c flex-d-c">
                    <div class="item-intro">
                        <img src="<%= IMG_PATH %>module-show-5-1.png" alt="" />
                    </div>
                    <div class="item-intro">
                        <img src="<%= IMG_PATH %>module-show-5-2.png" alt="" />
                    </div>
                </div>
            </div>
        </div>
        <div class="wrapper-sec-area">
            <div class="module-bg">
                <div class="state-pos_left">
                    <div class="wrapper-intro">
                        <div class="intro-item">
                            <div class="title">
                                <h3 class="text inner-row"></h3>
                            </div>
                            <div class="desc">
                                <span class="text inner-row"></span>
                            </div>
                            <div class="foot">
                                <div class="inner-row"></div>
                            </div>
                        </div>
                        <div class="intro-item">
                            <div class="title">
                                <h3 class="text inner-row">名片内嵌官网</h3>
                            </div>
                            <div class="desc">
                                <span class="text inner-row"
                                    >好看智能名片+UEmo极速建站，可直接将企业官网绑定到名片上。</span
                                >
                            </div>
                            <div class="foot">
                                <a
                                    href="https://www.uemo.net"
                                    class="button-link inner-row"
                                >
                                    <span class="text"
                                        >https://www.uemo.net</span
                                    >
                                </a>
                            </div>
                        </div>
                        <div class="intro-item">
                            <div class="title">
                                <h3 class="text inner-row">官网直达名片</h3>
                            </div>
                            <div class="desc">
                                <span class="text inner-row"
                                    >官网很难获得有效用户数据，从官网返回名片后可获得有效具象数据分析。</span
                                >
                            </div>
                            <div class="foot">
                                <a
                                    href="https://www.uemo.net"
                                    class="button-link inner-row"
                                >
                                    <span class="text"
                                        >https://www.uemo.net</span
                                    >
                                </a>
                            </div>
                        </div>
                        <div class="intro-item">
                            <div class="title">
                                <h3 class="text inner-row">分享好友</h3>
                            </div>
                            <div class="desc">
                                <span class="text inner-row"
                                    >无需再开发网站小程序，可通过网站直接返回名片，获取有效用户数据。</span
                                >
                            </div>
                            <div class="foot">
                                <a
                                    href="https://www.uemo.net"
                                    class="button-link inner-row"
                                >
                                    <span class="text"
                                        >https://www.uemo.net</span
                                    >
                                </a>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="state-pos_right">
                    <div class="uemo-web">
                        <div
                            class="box-left_arrow"
                            style="
                                background-image: url(<%= IMG_PATH %>left-arrow.png);
                            "
                        ></div>
                        <div class="wrapper-uemo_web">
                            <div class="slider-item"></div>
                            <div class="slider-item">
                                <img src="<%= IMG_PATH %>uemo-web.png" alt="" />
                            </div>
                            <div class="slider-item">
                                <img
                                    src="<%= IMG_PATH %>web-brower.png"
                                    alt=""
                                />
                                <img
                                    id="web-site-body"
                                    src="<%= IMG_PATH %>web-body.jpg"
                                    alt=""
                                />
                            </div>
                            <div class="slider-item">
                                <img
                                    src="<%= IMG_PATH %>uemo-web-3.png"
                                    alt=""
                                />
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
