<!--
 * @Description: 文档板块介绍
 * @Author: F-Stone
 * @Date: Wed Aug 04 2021 17:13:51
 * @LastEditTime: Wed Aug 04 2021 17:13:51
 * @LastEditors: F-Stone
-->
<div class="module module-doc" data-scroll-section>
    <div class="wrapper-limit_width">
        <div class="module-body flex">
            <div class="state-pos_left flex flex-x-c">
                <div class="module-doc_show">
                    <div class="left_area-bg"></div>
                    <div class="intro-img">
                        <img src="<%= IMG_PATH %>doc-intro.png" alt="" />
                        <div class="wrapper-main_phone">
                            <div class="main-phone_head"></div>
                            <div class="main-phone">
                                <div class="group">
                                    <div class="item item-1">
                                        <img
                                            src="<%= IMG_PATH %>doc-show-1.png"
                                            alt=""
                                        />
                                        <div class="layer-cover">
                                            <img
                                                src="<%= IMG_PATH %>doc-show-5.png"
                                                alt=""
                                                class="user-oper_bar"
                                            />
                                            <img
                                                class="doc-show-2"
                                                src="<%= IMG_PATH %>doc-show-2.png"
                                                alt=""
                                            />
                                        </div>
                                    </div>
                                    <div class="item item-2">
                                        <img
                                            src="<%= IMG_PATH %>doc-show-3.png"
                                            alt=""
                                        />
                                    </div>
                                </div>
                            </div>
                            <img
                                class="doc-thumb"
                                src="<%= IMG_PATH %>doc-thumb.png"
                                alt=""
                            />
                            <img
                                class="doc-show-4"
                                src="<%= IMG_PATH %>doc-show-4.png"
                                alt=""
                            />
                        </div>
                    </div>
                    <div class="intro-img--fake">
                        <img
                            src="<%= IMG_PATH %>main-phone-lock.png"
                            alt=""
                            class="main-phone-lock"
                        />
                    </div>
                </div>
            </div>
            <div class="state-pos_right flex flex-x-c">
                <div class="list-intro">
                    <div class="item-intro">
                        <div class="title">
                            <span class="text">营销文档</span>
                        </div>
                        <div class="desc">
                            <span class="text">
                                微信加+营销文档，可统一管理，谁看了，发给谁了，尽在掌握！
                            </span>
                        </div>
                        <div class="box-img">
                            <img src="<%= IMG_PATH %>doc-type.png" alt="" />
                        </div>
                    </div>
                    <div class="item-intro">
                        <div class="title">
                            <span class="text">安全设置</span>
                        </div>
                        <div class="desc">
                            <span class="text">
                                文档可设置密码，禁止转发及查看有效期限、禁止保存等功能！更便捷！更安全！
                            </span>
                        </div>
                        <div class="box-img">
                            <img src="<%= IMG_PATH %>doc-sec.png" alt="" />
                        </div>
                    </div>
                    <div class="item-intro">
                        <div class="title">
                            <span class="text">功能特色</span>
                        </div>
                        <div class="desc">
                            <span class="text">
                                营销文档可直接互拨电话！也可通过文档直接进入名片及官网更功能。
                            </span>
                        </div>
                        <div class="box-img">
                            <img
                                src="<%= IMG_PATH %>doc-advantage.png"
                                alt=""
                            />
                        </div>
                    </div>
                    <div class="item-intro">
                        <div class="title">
                            <span class="text">获取数据</span>
                        </div>
                        <div class="desc">
                            <span class="text">
                                访客需获取手机号才可查看！可获取查看时间、次数、停留时间。便于客户分析！
                            </span>
                        </div>
                        <div class="box-img">
                            <img src="<%= IMG_PATH %>doc-four.png" alt="" />
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <div id="placeholder-doc_scroll" style="height: 400vh"></div>
</div>
