<!--
 * @Description: 客户池
 * @Author: F-Stone
 * @Date: 2021-08-17 12:09:23
 * @LastEditTime: 2021-08-17 12:09:24
 * @LastEditors: F-Stone
-->
<div class="module-customer">
    <div class="wrapper-limit_width">
        <div class="module-head">SCRM<br />客户管理系统</div>
        <div class="module-body">
            <div class="wrapper-module_list">
                <div class="module-list flex-inline">
                    <div class="module-item">
                        <div class="state-pos_left">
                            <div class="item-info">
                                <div class="item-head">
                                    <span class="text">客户管理</span>
                                </div>
                                <div class="item-desc">
                                    <p class="text">
                                        客户线索一键转有效客户，让每个客户都有人对接，实现精细化管理,
                                        针对性沟通。
                                    </p>
                                </div>
                            </div>
                        </div>
                        <div class="state-pos_right">
                            <div class="item-imgs">
                                <div class="main-img">
                                    <img
                                        src="<%= IMG_PATH %>c-img-1-1.png"
                                        alt=""
                                    />
                                </div>
                                <div class="cover-img">
                                    <img
                                        src="<%= IMG_PATH %>c-img-1-2.png"
                                        alt=""
                                    />
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="module-item">
                        <div class="state-pos_left">
                            <div class="item-info">
                                <div class="item-head">
                                    <span class="text">线索捕捉</span>
                                </div>
                                <div class="item-desc">
                                    <p class="text">
                                        访客的任何动作都将被捕捉，记录为线索，不错失任何一条数据
                                    </p>
                                </div>
                            </div>
                        </div>
                        <div class="state-pos_right">
                            <div class="item-imgs">
                                <div class="main-img">
                                    <img
                                        src="<%= IMG_PATH %>c-img-2-1.png"
                                        alt=""
                                    />
                                </div>
                                <div class="cover-img">
                                    <img
                                        src="<%= IMG_PATH %>c-img-2-2.png"
                                        alt=""
                                    />
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="module-item">
                        <div class="state-pos_left">
                            <div class="item-info">
                                <div class="item-head">
                                    <span class="text">跟进流程</span>
                                </div>
                                <div class="item-desc">
                                    <p class="text">
                                        可用文字、语音等形式填写跟进记录，不论客户线索转几次，都有沟通记录跟随。
                                    </p>
                                </div>
                            </div>
                        </div>
                        <div class="state-pos_right">
                            <div class="item-imgs">
                                <div class="main-img">
                                    <img
                                        src="<%= IMG_PATH %>c-img-3-1.png"
                                        alt=""
                                    />
                                </div>
                                <div class="cover-img">
                                    <img
                                        src="<%= IMG_PATH %>c-img-3-2.png"
                                        alt=""
                                    />
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="module-item">
                        <div class="state-pos_left">
                            <div class="item-info">
                                <div class="item-head">
                                    <span class="text">行为分析</span>
                                </div>
                                <div class="item-desc">
                                    <p class="text">
                                        可用文字、语音等形式填写跟进记录，不论客户线索转几次，都有沟通记录跟随。
                                    </p>
                                </div>
                            </div>
                        </div>
                        <div class="state-pos_right">
                            <div class="item-imgs">
                                <div class="main-img">
                                    <img
                                        src="<%= IMG_PATH %>c-img-4-1.png"
                                        alt=""
                                    />
                                </div>
                                <div class="cover-img">
                                    <img
                                        src="<%= IMG_PATH %>c-img-4-2.png"
                                        alt=""
                                    />
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="module-item">
                        <div class="state-pos_left">
                            <div class="item-info">
                                <div class="item-head">
                                    <span class="text">导出客户</span>
                                </div>
                                <div class="item-desc">
                                    <p class="text">
                                        客户数据不流失，客户信息可直接导出EXCEL文件保存下来。
                                    </p>
                                </div>
                            </div>
                        </div>
                        <div class="state-pos_right">
                            <div class="item-imgs">
                                <div class="main-img">
                                    <img
                                        src="<%= IMG_PATH %>c-img-5-1.png"
                                        alt=""
                                    />
                                </div>
                                <div class="cover-img">
                                    <img
                                        src="<%= IMG_PATH %>c-img-5-2.png"
                                        alt=""
                                    />
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
