<!--
 * @Description: 功能介绍--show
 * @Author: F-Stone
 * @Date: Wed Aug 04 2021 15:34:52
 * @LastEditTime: Wed Aug 04 2021 15:34:52
 * @LastEditors: F-Stone
-->
<div class="module module-show">
    <div class="wrapper-module_content">
        <div class="module-header">
            <div class="module-title">
                <span class="text">全方位展示<br />企业及员工</span>
            </div>
            <div class="module-subtitle">
                <span class="text">
                    丰富的呈现方式，多种展示模块可随意自由组合
                </span>
            </div>
        </div>
        <div class="module-body">
            <div class="wrapper-zero_area flex flex-x-c">
                <div class="wrapper-content">
                    <div class="wrapper-desc flex flex-c-c">
                        <div class="box-desc flex-inline flex-y-c">
                            <div class="state-pos_left flex-d-c flex-y-c">
                                <h4 class="text title">品牌</h4>
                                <p class="text subtitle">企业内容展示</p>
                            </div>
                            <i class="ic iconfont icon-add"></i>
                            <div class="state-pos_right flex-d-c flex-y-c">
                                <h4 class="text title">自媒体</h4>
                                <p class="text subtitle">员工能力展示</p>
                            </div>
                        </div>
                    </div>
                    <div class="box-container flex flex-c-c">
                        <div class="layer--scale">
                            <div
                                class="flex flex-x-c"
                                style="
                                    position: absolute;
                                    top: 0;
                                    left: 0;
                                    right: 0;
                                    overflow: hidden;
                                    bottom: 0;
                                "
                            >
                                <div class="layer--bg"></div>
                                <div class="wrapper-first_area flex flex-c-c">
                                    <div class="wrapper-limit_width">
                                        <div class="group-row flex-inline">
                                            <div
                                                class="
                                                    group-col
                                                    flex flex-x-c flex-d-c
                                                "
                                            >
                                                <div class="item-intro">
                                                    <img
                                                        src="<%= IMG_PATH %>module-show-1-1.png"
                                                        alt=""
                                                    />
                                                </div>
                                                <div class="item-intro">
                                                    <img
                                                        src="<%= IMG_PATH %>module-show-1-2.png"
                                                        alt=""
                                                    />
                                                </div>
                                            </div>
                                            <div
                                                class="
                                                    group-col
                                                    flex flex-x-c flex-d-c
                                                "
                                            >
                                                <div
                                                    class="item-intro"
                                                    data-show-size="small"
                                                >
                                                    <img
                                                        src="<%= IMG_PATH %>module-show-1-2.png"
                                                        alt=""
                                                    />
                                                </div>
                                                <div
                                                    class="item-intro"
                                                    data-show-size="normal"
                                                >
                                                    <img
                                                        src="<%= IMG_PATH %>module-show-2-1.png"
                                                        alt=""
                                                    />
                                                </div>
                                                <div class="item-intro">
                                                    <img
                                                        src="<%= IMG_PATH %>module-show-2-2.png"
                                                        alt=""
                                                    />
                                                </div>
                                                <div
                                                    class="item-intro"
                                                    data-show-size="small"
                                                >
                                                    <img
                                                        src="<%= IMG_PATH %>module-show-1-1.png"
                                                        alt=""
                                                    />
                                                </div>
                                            </div>
                                            <div
                                                class="
                                                    group-col
                                                    flex flex-c-c flex-d-c
                                                "
                                            >
                                                <div
                                                    class="
                                                        item-intro
                                                        intro-phone
                                                    "
                                                >
                                                    <div class="main-phone">
                                                        <div
                                                            class="
                                                                wrapper-main_phone_imgs
                                                            "
                                                        >
                                                            <img
                                                                class="
                                                                    main-phone-1
                                                                "
                                                                src="<%= IMG_PATH %>module-show-3-2.png"
                                                                alt=""
                                                            />
                                                            <div
                                                                class="
                                                                    main-phone-card
                                                                "
                                                            >
                                                                <div
                                                                    class="
                                                                        box-m_web
                                                                    "
                                                                >
                                                                    <img
                                                                        src="<%= IMG_PATH %>m-web-brower.png"
                                                                        alt=""
                                                                    />
                                                                    <img
                                                                        id="mweb-site-body"
                                                                        src="<%= IMG_PATH %>m-uemo-web.jpg"
                                                                        alt=""
                                                                    />
                                                                </div>
                                                            </div>
                                                        </div>
                                                    </div>

                                                    <div
                                                        class="
                                                            main-phone-back-card
                                                        "
                                                    >
                                                        <div
                                                            class="btn-shadow"
                                                        ></div>
                                                        <img
                                                            src="<%= IMG_PATH %>back-card.png"
                                                            alt=""
                                                        />
                                                    </div>
                                                </div>
                                            </div>
                                            <div
                                                class="
                                                    group-col
                                                    flex flex-x-c flex-d-c
                                                "
                                            >
                                                <div
                                                    class="item-intro"
                                                    data-show-size="small"
                                                >
                                                    <img
                                                        src="<%= IMG_PATH %>module-show-2-1.png"
                                                        alt=""
                                                    />
                                                </div>
                                                <div
                                                    class="item-intro"
                                                    data-show-size="small"
                                                >
                                                    <img
                                                        src="<%= IMG_PATH %>module-show-5-1.png"
                                                        alt=""
                                                    />
                                                </div>
                                                <div class="item-intro">
                                                    <img
                                                        src="<%= IMG_PATH %>module-show-4-1.png"
                                                        alt=""
                                                    />
                                                </div>
                                                <div class="item-intro">
                                                    <img
                                                        src="<%= IMG_PATH %>module-show-4-2.png"
                                                        alt=""
                                                    />
                                                </div>
                                                <div
                                                    class="item-intro"
                                                    data-show-size="small"
                                                >
                                                    <img
                                                        src="<%= IMG_PATH %>module-show-5-2.png"
                                                        alt=""
                                                    />
                                                </div>
                                            </div>
                                            <div
                                                class="
                                                    group-col
                                                    flex flex-x-c flex-d-c
                                                "
                                            >
                                                <div class="item-intro">
                                                    <img
                                                        src="<%= IMG_PATH %>module-show-5-1.png"
                                                        alt=""
                                                    />
                                                </div>
                                                <div class="item-intro">
                                                    <img
                                                        src="<%= IMG_PATH %>module-show-5-2.png"
                                                        alt=""
                                                    />
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                                <div class="wrapper-sec-area">
                                    <div class="module-bg">
                                        <div class="state-pos_left">
                                            <div class="wrapper-intro">
                                                <div class="intro-item">
                                                    <div class="title">
                                                        <h3
                                                            class="
                                                                text
                                                                inner-row
                                                            "
                                                        >
                                                            名片直达官网
                                                        </h3>
                                                    </div>
                                                    <div class="desc">
                                                        <span
                                                            class="
                                                                text
                                                                inner-row
                                                            "
                                                            >好看智能名片+UEmo极速建站，获取更多企业资讯，增强企业可信度。</span
                                                        >
                                                    </div>
                                                    <div class="foot">
                                                        <a
                                                            target="_blank"
                                                            href="https://www.uemo.net"
                                                            class="
                                                                button-link
                                                                inner-row
                                                            "
                                                        >
                                                            <span class="text"
                                                                >https://www.uemo.net</span
                                                            >
                                                        </a>
                                                    </div>
                                                </div>
                                                <div class="intro-item">
                                                    <div class="title">
                                                        <h3
                                                            class="
                                                                text
                                                                inner-row
                                                            "
                                                        >
                                                            官网跨屏匹配
                                                        </h3>
                                                    </div>
                                                    <div class="desc">
                                                        <span
                                                            class="
                                                                text
                                                                inner-row
                                                            "
                                                            >无需开发小程序，PC+H5+小程序多端自动匹配。</span
                                                        >
                                                    </div>
                                                    <div class="foot">
                                                        <a
                                                            target="_blank"
                                                            href="https://www.uemo.net"
                                                            class="
                                                                button-link
                                                                inner-row
                                                            "
                                                        >
                                                            <span class="text"
                                                                >https://www.uemo.net</span
                                                            >
                                                        </a>
                                                    </div>
                                                </div>
                                                <div class="intro-item">
                                                    <div class="title">
                                                        <h3
                                                            class="
                                                                text
                                                                inner-row
                                                            "
                                                        >
                                                            追踪有效访客
                                                        </h3>
                                                    </div>
                                                    <div class="desc">
                                                        <span
                                                            class="
                                                                text
                                                                inner-row
                                                            "
                                                            >网站返回名片可追踪有效访客，如姓名、职位、联系方式等。</span
                                                        >
                                                    </div>
                                                    <div class="foot">
                                                        <a
                                                            target="_blank"
                                                            href="https://www.uemo.net"
                                                            class="
                                                                button-link
                                                                inner-row
                                                            "
                                                        >
                                                            <span class="text"
                                                                >https://www.uemo.net</span
                                                            >
                                                        </a>
                                                    </div>
                                                </div>
                                            </div>
                                        </div>
                                        <div class="state-pos_right">
                                            <div class="box-left_arrow"></div>
                                            <div class="uemo-web">
                                                <div class="wrapper-uemo_web">
                                                    <div class="slider-item">
                                                        <img
                                                            src="<%= IMG_PATH %>uemo-web.png"
                                                            alt=""
                                                        />
                                                    </div>
                                                    <div class="slider-item">
                                                        <img
                                                            src="<%= IMG_PATH %>web-brower.png"
                                                            alt=""
                                                        />
                                                        <img
                                                            id="web-site-body"
                                                            src="<%= IMG_PATH %>web-body.jpg"
                                                            alt=""
                                                        />
                                                    </div>
                                                    <div class="slider-item">
                                                        <img
                                                            src="<%= IMG_PATH %>uemo-web-3.png"
                                                            alt=""
                                                        />
                                                    </div>
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="target-box-size"></div>
                </div>
            </div>
        </div>
    </div>

    <div id="show-placeholder" style="max-height: 6000px; height: 600vw"></div>
</div>
