<!--
 * @Description: 获客方式
 * @Author: F-Stone
 * @Date: 2021-08-16 10:19:41
 * @LastEditTime: 2021-08-16 10:19:42
 * @LastEditors: F-Stone
-->
<div class="module module-extension" data-scroll-section>
    <div class="wrapper-limit_width--min">
        <div class="module-head">
            <div class="module-title">
                <span class="text">更多功能只为获客</span>
            </div>
            <div class="module-desc">
                <p class="text">
                    组合化获客方式，让您的客户更垂直、精准、有互动
                </p>
            </div>
        </div>
        <div class="module-body">
            <div class="list-extension flex-inline">
                <div class="item-extension">
                    <div class="item-head">
                        <div
                            class="box-icon"
                            data-ae-icon="<%= PUB_PATH %>asset/ae-icon/01.json"
                        ></div>
                        <div class="box-index">
                            <span class="text">01</span>
                        </div>
                    </div>
                    <div class="item-title">
                        <span class="text">推荐人脉</span>
                    </div>
                    <div class="item-desc">
                        <p class="text">
                            系统自动推荐优质人脉，让获取优质客户变得更方便。
                        </p>
                    </div>
                </div>
                <div class="item-extension">
                    <div class="item-head">
                        <div
                            class="box-icon"
                            data-ae-icon="<%= PUB_PATH %>asset/ae-icon/02.json"
                        ></div>
                        <div class="box-index">
                            <span class="text">02</span>
                        </div>
                    </div>
                    <div class="item-title">
                        <span class="text">动态广场</span>
                    </div>
                    <div class="item-desc">
                        <p class="text">
                            都是精准获客的入口，每一次评论和点赞都是曝光的机会
                        </p>
                    </div>
                </div>
                <div class="item-extension">
                    <div class="item-head">
                        <div
                            class="box-icon"
                            data-ae-icon="<%= PUB_PATH %>asset/ae-icon/03.json"
                        ></div>
                        <div class="box-index">
                            <span class="text">03</span>
                        </div>
                    </div>
                    <div class="item-title">
                        <span class="text">私信留言</span>
                    </div>
                    <div class="item-desc">
                        <p class="text">
                        不用加微信就能私信聊天，还能快捷留下联系方式、地址等联系方式。
                        </p>
                    </div>
                </div>
                <div class="item-extension">
                    <div class="item-head">
                        <div
                            class="box-icon"
                            data-ae-icon="<%= PUB_PATH %>asset/ae-icon/04.json"
                        ></div>
                        <div class="box-index">
                            <span class="text">04</span>
                        </div>
                    </div>
                    <div class="item-title">
                        <span class="text">名片码</span>
                    </div>
                    <div class="item-desc">
                        <p class="text">
                        可作为线上线下的传播落脚点，长按识别即可展开联系。
                        </p>
                    </div>
                </div>
                <div class="item-extension">
                    <div class="item-head">
                        <div
                            class="box-icon"
                            data-ae-icon="<%= PUB_PATH %>asset/ae-icon/05.json"
                        ></div>
                        <div class="box-index">
                            <span class="text">05</span>
                        </div>
                    </div>
                    <div class="item-title">
                        <span class="text">每日海报</span>
                    </div>
                    <div class="item-desc">
                        <p class="text">
                        每天自动生成用于推广的海报，分享到朋友圈/微信群。背景和文字等元素还能自定义。
                        </p>
                    </div>
                </div>
                <div class="item-extension">
                    <div class="item-head">
                        <div
                            class="box-icon"
                            data-ae-icon="<%= PUB_PATH %>asset/ae-icon/06.json"
                        ></div>
                        <div class="box-index">
                            <span class="text">06</span>
                        </div>
                    </div>
                    <div class="item-title">
                        <span class="text">动态海报</span>
                    </div>
                    <div class="item-desc">
                        <p class="text">
                        名片里发布的动态，能生成图片分享到朋友圈或发给好友、群。
                        </p>
                    </div>
                </div>
                <div class="item-extension">
                    <div class="item-head">
                        <div
                            class="box-icon"
                            data-ae-icon="<%= PUB_PATH %>asset/ae-icon/07.json"
                        ></div>
                        <div class="box-index">
                            <span class="text">07</span>
                        </div>
                    </div>
                    <div class="item-title">
                        <span class="text">名片夹</span>
                    </div>
                    <div class="item-desc">
                        <p class="text">
                        名片夹能管理、搜索、查询、分组您收下的名片。
                        </p>
                    </div>
                </div>
                <div class="item-extension">
                    <div class="item-head">
                        <div
                            class="box-icon"
                            data-ae-icon="<%= PUB_PATH %>asset/ae-icon/08.json"
                        ></div>
                        <div class="box-index">
                            <span class="text">08</span>
                        </div>
                    </div>
                    <div class="item-title">
                        <span class="text">名片足迹</span>
                    </div>
                    <div class="item-desc">
                        <p class="text">
                        帮您记录，被查看次数，查看时间，访客所有的动作都是展开沟通的契机。
                        </p>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
