<!--
 * @Description: 获客方式
 * @Author: F-Stone
 * @Date: 2021-08-16 10:19:41
 * @LastEditTime: 2021-08-16 10:19:42
 * @LastEditors: F-Stone
-->
<div class="module module-extension" data-scroll-section>
    <div class="wrapper-limit_width--min">
        <div class="module-head">
            <div class="module-title">
                <span class="text">更多功能只为获客</span>
            </div>
            <div class="module-desc">
                <p class="text">
                    组合化获客方式，让您的客户更垂直、精准、有互动
                </p>
            </div>
        </div>
        <div class="module-body">
            <div class="list-extension flex-inline">
                <div class="item-extension">
                    <div class="item-head">
                        <div
                            class="box-icon"
                            data-ae-icon="<%= PUB_PATH %>asset/ae-icon/01.json"
                        ></div>
                        <div class="box-index">
                            <span class="text">01</span>
                        </div>
                    </div>
                    <div class="item-title">
                        <span class="text">推荐人脉</span>
                    </div>
                    <div class="item-desc">
                        <p class="text">
                            系统自动推荐优质人脉，让获取优质客户变得更方便。
                        </p>
                    </div>
                </div>
                <div class="item-extension">
                    <div class="item-head">
                        <div
                            class="box-icon"
                            data-ae-icon="<%= PUB_PATH %>asset/ae-icon/02.json"
                        ></div>
                        <div class="box-index">
                            <span class="text">02</span>
                        </div>
                    </div>
                    <div class="item-title">
                        <span class="text">动态广场</span>
                    </div>
                    <div class="item-desc">
                        <p class="text">
                            都是精准获客的入口，每一次评论和点赞都是曝光的机会
                        </p>
                    </div>
                </div>
                <div class="item-extension">
                    <div class="item-head">
                        <div
                            class="box-icon"
                            data-ae-icon="<%= PUB_PATH %>asset/ae-icon/03.json"
                        ></div>
                        <div class="box-index">
                            <span class="text">03</span>
                        </div>
                    </div>
                    <div class="item-title">
                        <span class="text">私信留言</span>
                    </div>
                    <div class="item-desc">
                        <p class="text">
                            不用加微信，可以直接私信聊天，快捷留下联系方式，地址等功能。
                        </p>
                    </div>
                </div>
                <div class="item-extension">
                    <div class="item-head">
                        <div
                            class="box-icon"
                            data-ae-icon="<%= PUB_PATH %>asset/ae-icon/04.json"
                        ></div>
                        <div class="box-index">
                            <span class="text">04</span>
                        </div>
                    </div>
                    <div class="item-title">
                        <span class="text">名片二维码</span>
                    </div>
                    <div class="item-desc">
                        <p class="text">
                            以最快的速度让客户了解您的基础信息，如需了解更多长按二维码即可。
                        </p>
                    </div>
                </div>
                <div class="item-extension">
                    <div class="item-head">
                        <div
                            class="box-icon"
                            data-ae-icon="<%= PUB_PATH %>asset/ae-icon/05.json"
                        ></div>
                        <div class="box-index">
                            <span class="text">05</span>
                        </div>
                    </div>
                    <div class="item-title">
                        <span class="text">每日海报</span>
                    </div>
                    <div class="item-desc">
                        <p class="text">
                            每日可自动生成海报，也可自定义背景图片及文字内容等功能。
                        </p>
                    </div>
                </div>
                <div class="item-extension">
                    <div class="item-head">
                        <div
                            class="box-icon"
                            data-ae-icon="<%= PUB_PATH %>asset/ae-icon/06.json"
                        ></div>
                        <div class="box-index">
                            <span class="text">06</span>
                        </div>
                    </div>
                    <div class="item-title">
                        <span class="text">动态海报</span>
                    </div>
                    <div class="item-desc">
                        <p class="text">
                            你发布的名片动态可直接发给微信好用，也可生成动态海报发到朋友圈。
                        </p>
                    </div>
                </div>
                <div class="item-extension">
                    <div class="item-head">
                        <div
                            class="box-icon"
                            data-ae-icon="<%= PUB_PATH %>asset/ae-icon/07.json"
                        ></div>
                        <div class="box-index">
                            <span class="text">07</span>
                        </div>
                    </div>
                    <div class="item-title">
                        <span class="text">名片夹</span>
                    </div>
                    <div class="item-desc">
                        <p class="text">
                            您收藏的名片都在这里，可以搜索查询，也可以创建名片分组。
                        </p>
                    </div>
                </div>
                <div class="item-extension">
                    <div class="item-head">
                        <div
                            class="box-icon"
                            data-ae-icon="<%= PUB_PATH %>asset/ae-icon/08.json"
                        ></div>
                        <div class="box-index">
                            <span class="text">08</span>
                        </div>
                    </div>
                    <div class="item-title">
                        <span class="text">名片足迹</span>
                    </div>
                    <div class="item-desc">
                        <p class="text">
                            谁看过您的名片，看了多少次，什么时候看的，是否收下了您的名片都可以在这里找到。
                        </p>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
