<!--
 * @Description: 
 * @Author: F-Stone
 * @Date: 2021-08-03 19:05:50
 * @LastEditTime: 2021-08-03 19:05:51
 * @LastEditors: F-Stone
-->
<div class="module module-propaganda">
    <div class="module-body">
        <div class="wrapper-propaganda_text">
            <div class="box-text_effect">
                <div class="effect-container inner-wrapper">
                    <div class="effect-line-1 title">
                        <span class="text">品牌营销<br />拓客工具</span>
                    </div>
                    <div class="effect-line-2 project-serve flex flex-y-c">
                        <div class="item-serve">
                            <span class="text">品牌宣传</span>
                        </div>
                        <div class="divide"></div>
                        <div class="item-serve">
                            <span class="text">营销获客</span>
                        </div>
                        <div class="divide"></div>
                        <div class="item-serve">
                            <span class="text">客户运营</span>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <div class="wrapper-propaganda_intro">
            <div class="inner-wrapper">
                <div class="layer-hand-back">
                    <img class="hand-back" src="<%= IMG_PATH
                    +"propaganda-intro.png" %>" alt="">
                </div>
                <div class="layer-hand-center">
                    <div class="wrapper-card">
                        <video
                            preload="none"
                            src="<%= IMG_PATH %>index-phone.mp4"
                            muted
                            playsinline
                            loop
                            poster="<%= IMG_PATH %>index-phone.jpg"
                        ></video>
                        <img
                            class="hand-ahead"
                            src="<%= IMG_PATH %>fake-main-phone.png"
                        />
                    </div>
                </div>
                <div class="layer-hand-ahead">
                    <img class="hand-ahead" src="<%= IMG_PATH +"hand-right.png"
                    %>" alt="">
                </div>
            </div>
        </div>
    </div>
</div>
