<!--
 * @Description: design 板块
 * @Author: F-Stone
 * @Date: 2021-08-04 13:27:06
 * @LastEditTime: 2021-08-04 13:27:07
 * @LastEditors: F-Stone
-->
<div class="module module-design">
    <div class="module-inner_wrapper">
        <div class="module-inner_box">
            <div class="wrapper-limit_width">
                <div class="module-body flex flex-x-c">
                    <div class="state-pos_left flex flex-x-e">
                        <div class="layer--preview">
                            <div class="box-preview_layout" style="opacity: 0">
                                <!-- <img
                                src="<%= IMG_PATH %>preview-layer.png"
                                alt=""
                            /> -->
                            </div>
                        </div>
                        <div class="footer-index-nav">
                            <span class="text current">01</span>
                            <i class="divide"></i>
                            <span class="text all">03</span>
                        </div>
                    </div>
                    <div class="state-pos_right">
                        <div class="list-intro">
                            <div class="item-intro">
                                <div class="title flex">
                                    <span class="text">01</span>
                                    <!-- <span class="text unit">+</span> -->
                                </div>
                                <div class="subtitle">
                                    <span class="text">几十套名片风格</span>
                                </div>
                                <div class="desc">
                                    <span class="text">
                                        横竖版自由切换，覆盖大部分品牌风格
                                    </span>
                                </div>
                            </div>
                            <div class="item-intro">
                                <div class="title flex">
                                    <span class="text">02</span>
                                </div>
                                <div class="subtitle">
                                    <span class="text">会动的名片更吸睛</span>
                                </div>
                                <div class="desc">
                                    <span class="text">
                                        带动画的名片，让客户过目不忘
                                    </span>
                                </div>
                            </div>
                            <div class="item-intro">
                                <div class="title">
                                    <span class="text">03</span>
                                </div>
                                <div class="subtitle">
                                    <span class="text">自定义名片风格</span>
                                </div>
                                <div class="desc">
                                    <span class="text">
                                        让名片和品牌同步，加深品牌印象
                                    </span>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            <div class="wrapper-bg">
                <div class="bg-body flex flex-x-c">
                    <div class="state-pos_left flex flex-x-e">
                        <div class="layer--preview">
                            <div class="box-preview_layout">
                                <div
                                    class="box-img box-phone"
                                    data-theme="lighter"
                                >
                                    <div class="phone-head">
                                        <img
                                            class="deep-head"
                                            src="<%= IMG_PATH %>deep-header.png"
                                            alt=""
                                        />
                                        <img
                                            class="lighter-head"
                                            src="<%= IMG_PATH %>lighter-header.png"
                                            alt=""
                                        />
                                    </div>
                                    <div class="phone-card">
                                        <div class="card-bg"></div>
                                        <div class="card-box">
                                            <div class="card-box-inner">
                                                <div class="card-item">
                                                    <div class="img-wrapper">
                                                        <!-- <img
                                                            src="<%= IMG_PATH %>design-img-1.png"
                                                            alt=""
                                                        /> -->
                                                        <video
                                                            src="<%= IMG_PATH %>design-1.mp4"
                                                            autoplay
                                                            muted
                                                            loop
                                                            poster="<%= IMG_PATH %>design-img-1.jpg"
                                                        ></video>
                                                        <img
                                                            class="card-cover"
                                                            src="<%= IMG_PATH %>design-img-1-1.png"
                                                            alt=""
                                                        />
                                                    </div>
                                                </div>
                                                <div class="card-item">
                                                    <div class="img-wrapper">
                                                        <video
                                                            src="<%= IMG_PATH %>design-2.mp4"
                                                            autoplay
                                                            muted
                                                            loop
                                                            poster="<%= IMG_PATH %>design-img-2.jpg"
                                                        ></video>
                                                        <!-- <img
                                                            src="<%= IMG_PATH %>design-img-2.png"
                                                            alt=""
                                                        /> -->
                                                        <img
                                                            class="card-cover"
                                                            src="<%= IMG_PATH %>design-img-2-1.png"
                                                            alt=""
                                                        />
                                                    </div>
                                                </div>
                                                <div class="card-item">
                                                    <div class="img-wrapper">
                                                        <img
                                                            src="<%= IMG_PATH %>design-img-4.png"
                                                            alt=""
                                                        />
                                                    </div>
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                    <div class="phone-footer">
                                        <img
                                            src="<%= IMG_PATH %>preview-layer-footer-1.png"
                                            alt=""
                                        />
                                        <img
                                            src="<%= IMG_PATH %>preview-layer-footer-2.png"
                                            alt=""
                                        />
                                        <img
                                            src="<%= IMG_PATH %>preview-layer-footer-4.png"
                                            alt=""
                                        />
                                    </div>
                                </div>
                                <div class="box-card">
                                    <div class="list-card--left">
                                        <div class="list-card-box flex">
                                            <div class="item-card">
                                                <img
                                                    src="<%= IMG_PATH %>line-box.png"
                                                    alt=""
                                                />
                                            </div>
                                            <div class="item-card">
                                                <img
                                                    src="<%= IMG_PATH %>line-box.png"
                                                    alt=""
                                                />
                                            </div>
                                            <div class="item-card">
                                                <img
                                                    src="<%= IMG_PATH %>line-box.png"
                                                    alt=""
                                                />
                                            </div>
                                            <div class="item-card">
                                                <img
                                                    src="<%= IMG_PATH %>line-box.png"
                                                    alt=""
                                                />
                                            </div>
                                            <div class="item-card">
                                                <img
                                                    src="<%= IMG_PATH %>line-box.png"
                                                    alt=""
                                                />
                                            </div>
                                            <div class="item-card">
                                                <img
                                                    src="<%= IMG_PATH %>line-box.png"
                                                    alt=""
                                                />
                                            </div>
                                            <div class="item-card">
                                                <img
                                                    src="<%= IMG_PATH %>line-box.png"
                                                    alt=""
                                                />
                                            </div>
                                            <div class="item-card">
                                                <img
                                                    src="<%= IMG_PATH %>line-box.png"
                                                    alt=""
                                                />
                                            </div>
                                            <div class="item-card">
                                                <img
                                                    src="<%= IMG_PATH %>line-box.png"
                                                    alt=""
                                                />
                                            </div>
                                            <div class="item-card">
                                                <img
                                                    src="<%= IMG_PATH %>line-box.png"
                                                    alt=""
                                                />
                                            </div>
                                        </div>
                                    </div>
                                    <div class="list-card--right">
                                        <div class="list-card-box flex">
                                            <div class="item-card">
                                                <img
                                                    src="<%= IMG_PATH %>line-box.png"
                                                    alt=""
                                                />
                                            </div>
                                            <div class="item-card">
                                                <img
                                                    src="<%= IMG_PATH %>line-box.png"
                                                    alt=""
                                                />
                                            </div>
                                            <div class="item-card">
                                                <img
                                                    src="<%= IMG_PATH %>line-box.png"
                                                    alt=""
                                                />
                                            </div>
                                            <div class="item-card">
                                                <img
                                                    src="<%= IMG_PATH %>line-box.png"
                                                    alt=""
                                                />
                                            </div>
                                            <div class="item-card">
                                                <img
                                                    src="<%= IMG_PATH %>line-box.png"
                                                    alt=""
                                                />
                                            </div>
                                            <div class="item-card">
                                                <img
                                                    src="<%= IMG_PATH %>line-box.png"
                                                    alt=""
                                                />
                                            </div>
                                            <div class="item-card">
                                                <img
                                                    src="<%= IMG_PATH %>line-box.png"
                                                    alt=""
                                                />
                                            </div>
                                            <div class="item-card">
                                                <img
                                                    src="<%= IMG_PATH %>line-box.png"
                                                    alt=""
                                                />
                                            </div>
                                            <div class="item-card">
                                                <img
                                                    src="<%= IMG_PATH %>line-box.png"
                                                    alt=""
                                                />
                                            </div>
                                            <div class="item-card">
                                                <img
                                                    src="<%= IMG_PATH %>line-box.png"
                                                    alt=""
                                                />
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="state-pos_right"></div>
                </div>
            </div>
        </div>
    </div>
</div>
