<!--
 * @Description: 文档板块介绍
 * @Author: F-Stone
 * @Date: Wed Aug 04 2021 17:13:51
 * @LastEditTime: Wed Aug 04 2021 17:13:51
 * @LastEditors: F-Stone
-->
<div class="module module-doc">
    <div class="wrapper-limit_width">
        <div class="module-body flex">
            <div class="state-pos_left flex flex-x-c">
                <div class="module-doc_show">
                    <div class="left_area-bg"></div>
                    <div class="intro-img">
                        <img src="<%= IMG_PATH %>doc-intro.png" alt="" />
                        <div class="wrapper-main_phone">
                            <div class="main-phone_head"></div>
                            <div class="main-phone">
                                <div class="group">
                                    <div class="item item-1">
                                        <img
                                            src="<%= IMG_PATH %>doc-show-1.png"
                                            alt=""
                                        />
                                        <div class="layer-cover">
                                            <img
                                                src="<%= IMG_PATH %>doc-show-5.png"
                                                alt=""
                                                class="user-oper_bar"
                                            />
                                            <img
                                                class="doc-show-2"
                                                src="<%= IMG_PATH %>doc-show-2.png"
                                                alt=""
                                            />
                                        </div>
                                    </div>
                                    <div class="item item-2">
                                        <img
                                            src="<%= IMG_PATH %>doc-show-3.png"
                                            alt=""
                                        />
                                    </div>
                                </div>
                            </div>
                            <img
                                class="doc-thumb"
                                src="<%= IMG_PATH %>doc-thumb.png"
                                alt=""
                            />
                            <img
                                class="doc-show-4"
                                src="<%= IMG_PATH %>doc-show-4.png"
                                alt=""
                            />
                        </div>
                    </div>
                    <div class="intro-img--fake">
                        <img
                            src="<%= IMG_PATH %>main-phone-lock.png"
                            alt=""
                            class="main-phone-lock"
                        />
                    </div>
                </div>
            </div>
            <div class="state-pos_right flex flex-x-c">
                <div class="list-intro">
                    <div class="item-intro">
                        <div class="title">
                            <span class="text">懂营销的文档</span>
                        </div>
                        <div class="desc">
                            <span class="text">
                                微信+营销文档，可统一管理企业宣传物料。谁看了，发给谁了，尽在掌握！
                            </span>
                        </div>
                        <div class="box-img">
                            <img src="<%= IMG_PATH %>doc-type.png" alt="" />
                        </div>
                    </div>
                    <div class="item-intro">
                        <div class="title">
                            <span class="text">能加密的文档</span>
                        </div>
                        <div class="desc">
                            <span class="text">
                                可设置密码、禁制转发、限制查看时效。守护您的私密文件安全。
                            </span>
                        </div>
                        <div class="box-img">
                            <img src="<%= IMG_PATH %>doc-sec.png" alt="" />
                        </div>
                    </div>
                    <div class="item-intro">
                        <div class="title">
                            <span class="text">可拓客的文档</span>
                        </div>
                        <div class="desc">
                            <span class="text">
                                看完文档不失联，可直接互相联系，还能进入名片及官网了解更多，促进合作意向提高转化率。
                            </span>
                        </div>
                        <div class="box-img">
                            <img
                                src="<%= IMG_PATH %>doc-advantage.png"
                                alt=""
                            />
                        </div>
                    </div>
                    <div class="item-intro">
                        <div class="title">
                            <span class="text">会获客的文档</span>
                        </div>
                        <div class="desc">
                            <span class="text">
                                客户查看文档能合理获取手机号！并有效记录查看时间、次数、停留时间。便于客户分析！
                            </span>
                        </div>
                        <div class="box-img">
                            <img src="<%= IMG_PATH %>doc-four.png" alt="" />
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <div class="placeholder-doc_preview"></div>
        <div class="placeholder-doc_preview--row"></div>
    </div>
    <div id="placeholder-doc_scroll" class="placeholder-doc_scroll"></div>
</div>
