<div class="module module-share">
    <div class="module_content-box flex flex-y-c">
        <div class="wrapper-module_content flex flex-y-c">
            <div class="module-header">
                <div class="module-title">
                    <span class="text">企业动态</span>
                </div>
                <div class="module-desc">
                    <span class="text">
                        已公司形式同步到员工（自媒体）的名片动态中，达到企业用户集群效果。
                    </span>
                </div>
            </div>
            <div class="module-body flex flex-c-c">
                <div class="state-pos_left">
                    <div class="user-list">
                        <div class="user-item" data-counter="268">
                            <img
                                src="<%= IMG_PATH %>module-share/module-share-l-1.jpg"
                                alt=""
                            />
                        </div>
                        <div class="user-item" data-counter="596">
                            <img
                                src="<%= IMG_PATH %>module-share/module-share-l-2.jpg"
                                alt=""
                            />
                        </div>
                        <div class="user-item" data-counter="688">
                            <img
                                src="<%= IMG_PATH %>module-share/module-share-l-3.jpg"
                                alt=""
                            />
                        </div>
                    </div>
                </div>
                <div class="state-pos_center">
                    <div class="module-share_phone">
                        <div class="wrapper-phone">
                            <img
                                src="<%= IMG_PATH %>module-share/module-share-phone.jpg"
                                alt=""
                            />
                        </div>
                        <div class="inner-module">
                            <div class="placeholder-phone_top"></div>
                            <div class="preview-image">
                                <img
                                    src="<%= IMG_PATH %>module-share/image-preview.jpg"
                                    alt=""
                                />
                                <div class="video-btn flex flex-c-c"></div>
                            </div>
                        </div>
                    </div>
                    <div class="module-arrow flex flex-y-c">
                        <div class="line"></div>
                        <div class="arrow"></div>
                    </div>
                </div>
                <div class="state-pos_right">
                    <div class="count-num">
                        <span class="text">000</span>
                    </div>
                    <div class="num-desc">
                        <span class="text">企业集群曝光（人）</span>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
